body {
    font-family: 'Montserrat', sans-serif;
}
.column-padding {
    padding-bottom: 10px;
}
.packet {
    font-family: 'Montserrat', sans-serif;
    padding: 200px;
    color: white;
    z-index: 9999;
}
.packet1 {
    background-color: white;
    color: black;
}
.packet2 {
    background-color: #e9ecef;
    padding: 50px;
    ;
    color: black;
}
.test {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.body {
    background-color: #e9ecef;
}
#equ {
    height: 250px;
    width: 250px;
}
.carrd {
    background-color: transparent;
    border-radius: 10px;
    border-style: hidden;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}
.dealers  .carrd {
    display: initial;
}
.sent {
    position: fixed;
    background-image: url('back-image.jpg');
    height: 110%;
    width: 100%;
    z-index: -88;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}
.footer {
    background-color: #212529!important;
    color: #6c757d;
}
.footer-column:hover {
    color: white;
}
.footer-bottom {
    padding: 40px 0 30px;
    background: #1e1e1e;
}
.copyright-text p {
    color: #ccc;
}