{% extends "webpage/layout.html" %}
{% block jumbotron %}
{% load static %}
<!--==========Home========-->
<div class="row" id="home" style="height: 56.25vw;">
    <div class="col-md-12 col-sm-offset-1 col-sm-8 col-offset-1 col-8 text-white text-center" style="margin: auto;">
        <h1 class="display-4">PLUMBSTONE CORPORATION</h1>
        <p class="lead">THE ULTIMATE SOLUTION TO ALL YOUR PLUMBING PROBLEMS.</p>
    </div>
</div>
{% endblock %}
{% block content %}

<!--==========About us========-->

<div class="row" id="aboutus" style="height: 56.25vw;background: white;">
    <div class="col-md-offset-2 col-md-6 col-sm-offset-1 col-sm-8 col-offset-1 col-8 text-center" style="margin: auto;">
        <h1 class="display-4">ABOUT US</h1>
        <p class="lead">ESTABLISHED IN 1960 PROVIDING EXCELLENT SERVICES TO THE CUSTOMERS FOR MORE THAN FIVE DECADES.
             LICENSED PLUMBERS AND CONTRACTORS.</p>
    </div>
</div>


<!--==========Dealers in========-->

<div class="row" id="dealers" style="background-color: #e9ecef;">
    <div class="clearfix" style="height: 50px;">&nbsp;</div>
    <div class="col-md-12 text-center">
        <h1 class="display-4">DEALERS IN</h1>
    </div>
    <div class="clearfix" style="height: 50px;">&nbsp;</div>
</div>
<div class="row dealers" style="background-color: #e9ecef;">
    {% for dealer in data.dealers_in_cards %}
    <div class="col-md-4 col-sm-6 text-center" style="margin: auto;">
        <div class="card carrd">
            <img class="rounded-circle card-img-top " style="height:280px;width:280px;"
                 src="{% static dealer.image_path %}" alt="Card image cap">
            <div class="card-body">
                <center>
                    <p class="card-text" style="font-size:0.7em">{{ dealer.main_title }}</p>
                    {% if dealer.sub_title %}
                    <p style="font-size:0.7em">{{ dealer.sub_title }}</p>
                    {% endif %}
                </center>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="clearfix" style="height: 50px;">&nbsp;</div>
</div>
<!--==========Services========-->

<div class="row" id="services" style="height: 56.25vw;background: white;">
    <div class="col-md-offset-2 col-md-6 col-sm-offset-1 col-sm-8 text-center" style="margin: auto;">
        <h1 class="display-4">SERVICES</h1>
        <p class="lead">PROVIDING EXCELLENT SERVICES TO RESIDENTIAL, COMMERCIAL AND INDUSTRIAL GROUPS.</p>
    </div>
</div>

<!--==========Renowed Customers========-->

<div class="row" id="renowed">
    <div class="col-md-12 text-white text-center">
        <div class="clearfix" style="height: 50px;">&nbsp;</div>
        <h1 class="display-4">OUR RENOWED CUSTOMERS</h1>
        <div class="clearfix" style="height: 50px;">&nbsp;</div>
    </div>
</div>
<div class="row renowed text-white">
    <div class="clearfix" style="height: 50px;">&nbsp;</div>
    <div class="col-md-offset-2 col-md-6 col-sm-offset-1 col-sm-8 col-xs-offset-1 col-xs-8 col-offset-1 col-8 text-center"
         style="margin: auto;">
        <div class="row">
            {% for our_renowed_customer in data.our_renowed_customers %}
            <div class="col-sm col-md column-padding">
                <div class="card border border-white carrd" style="width:200px;height:100px">
                    <div class="card-body">
                        <center>
                            <h2 class="card-text">{{ our_renowed_customer }}</h2>
                        </center>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="clearfix" style="height: 50px;">&nbsp;</div>
    </div>
</div>

<!--==========Contact us========-->

<div class="row" id="contact" style="background-color: #e9ecef;">
    <div class="col-md-12 text-center">
        <div class="clearfix" style="height: 50px;">&nbsp;</div>
        <h1 class="display-4">CONTACT US</h1>
        <div class="clearfix" style="height: 40px;">&nbsp;</div>
    </div>
</div>
<div class="row contact" style="background-color: #e9ecef;">
    <div class="col-md-4" style="padding: 0px 60px;">
        <div>
            <h3 style="font-weight: bold;">
                <i class="fa fa-map-marker" aria-hidden="true"></i> | Address
            </h3>
        </div>
        <div class="clearfix" style="height: 30px;">&nbsp;</div>
        <p>Shop No-11, Shaukat Mansion, Aarey Road,
            Goregaon (West), Mumbai 400104, Maharashtra, India.</p>
    </div>
    <div class="col-md-4" style="padding: 0px 60px;">
        <div>
            <h3 style="font-weight: bold;">
                <i class="fa fa-phone" aria-hidden="true"></i> | Phone
            </h3>
        </div>
        <div class="clearfix" style="height: 30px;">&nbsp;</div>
        <p>022-28731460, +91-9892939177,<br>
        +91-9820227904, +91-9699190874</p>
    </div>
    <div class="col-md-4" style="padding: 0px 60px;">
        <div>
            <h3 style="font-weight: bold;">
                <i class="fa fa-envelope" aria-hidden="true"></i> | Email
            </h3>
        </div>
        <div class="clearfix" style="height: 30px;">&nbsp;</div>
        <p><a href="mailto:plumbstone59@gmail.com" style="color: inherit;">plumbstone59@gmail.com</a></p>
    </div>
    <div class="col-md-12" style="padding: 0px 60px;">
        <div class="clearfix" style="height: 50px;">&nbsp;</div>
        <iframe allowfullscreen="" frameborder="0" height="450"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.6578050896833!2d72.8449445146236!3d19.166450587036067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b653b9431eb3%3A0x30e0abc101b1005b!2sPlumbstone+Corporation!5e0!3m2!1sen!2sin!4v1545307802209"
                style="border:0" width="100%">
        </iframe>
        <div class="clearfix" style="height: 50px;">&nbsp;</div>
    </div>
    <div class="col-md-12" style="padding: 0px 60px;">
        <form method='POST' action="#contact" id="contact_form">
            {%csrf_token%}
            <div class="form-group">
                <label for="name">
                    Name
                </label>
                <input class="form-control" id="name" name="name" required="required" type="text">
                </input>
            </div>
            <div class="form-group">
                <label for="email">
                    Email address
                </label>
                <input aria-describedby="emailHelp" class="form-control" id="email" name="email" type="email">
                <small class="form-text text-muted" id="emailHelp">
                    We'll never share your email with anyone else.
                </small>
                </input>
            </div>
            <div class="form-group">
                <label for="phone_number">
                    Phone no
                </label>
                <input class="form-control" id="phone_number" name="phone_number" required="required" type="tel">
                </input>
            </div>
            <div class="form-group">
                <label for="message">
                    Message
                </label>
                <textarea class="form-control" id="message" name="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Submit
            </button>
        </form>
        <div class="clearfix" style="height: 50px;">&nbsp;</div>
    </div>
</div>
{% endblock %}