<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>Plumbstone Corporation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'webpage/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpage/stylesboot.css' %}">

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
</head>

<body class="body">
<div class="sent"></div>
<!--""""""""""""""""""""""""""""""""navigation bar""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <!-- Brand -->
    <a class="navbar-brand" onclick="scrollAndSetMenu(this, 'home');" style="color: aliceblue;">PLUMBSTONE CORPORATION</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" onclick="scrollAndSetMenu(this, 'home')">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="scrollAndSetMenu(this, 'aboutus');">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="scrollAndSetMenu(this, 'dealers');">Dealers in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="scrollAndSetMenu(this, 'services');">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="scrollAndSetMenu(this, 'contact');">Contact us</a>
            </li>
        </ul>
    </div>
</nav>
<!--""""""""""""""""""""""""""""""""navigation bar ends here""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""-->

<!--""""""""""""""""""""""""""""""""card items here""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""-->
<div class="container-fluid">
    <!--""""""""""""""""""""""""""""""""jumbotron starts here""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""-->
    {% block jumbotron %}{% endblock %}
    <!--""""""""""""""""""""""""""""""""jumbotron ends here""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""-->
    {% block content %}{% endblock %}
</div>
<!--""""""""""""""""""""""""""""""""card items ends here""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""-->

<!--""""""""""""""""""""""""""""""""contact us item start here""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""-->
<div class="footer">
    <div class="container">
        <div class="clearfix" style="height: 50px;">&nbsp;</div>
        <div class="row">
            <div class="col-md-4 footer-column">
                <h4>QUICK LINKS</h4>
                <div class="clearfix" style="height: 50px;">&nbsp;</div>
                <p class="footlink"><a onclick="scrollAndSetMenu(this, 'aboutus');" style="color:#6c757d">ABOUT US</a></p>
                <p class="footlink"><a onclick="scrollAndSetMenu(this, 'contact');" style="color:#6c757d">CONTACT US</a></p>
            </div>
            <div class="col-md-4 footer-column">
                <h4>FOLLOW US ON</h4>
                <div class="clearfix" style="height: 50px;">&nbsp;</div>
                <p>
                    <a href="https://www.justdial.com/Mumbai/Plumbstone-Corporation-Goregaon-West/022P1907980_BZDET">
                        <img src="http://www.feirox.com/rivu/2014/03/Justdial-1.png" width="30" height="30"
                             class="d-inline-block align-top" alt="">
                    </a>
                </p>
            </div>
            <div class="col-md-4 footer-column">
                <h4>CONTACT</h4>
                <div class="clearfix" style="height: 50px;">&nbsp;</div>
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                        <p>Shop No-11, Shaukat Mansion, Aarey Road,
                            Goregaon (West), Mumbai 400104, Maharashtra, India.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-1">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                        <p>
                            022-28731460,
                            +919892939177,
                            +919820227904,
                            +919699190874
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-1">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                        <p>plumbstone59@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="copyright-text">
                    <p>Copyright © StarTechnologies 2019</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="{% static 'webpage/bootstrap.min.js' %}"></script>
<script>
    function scrollAndSetMenu(object, id) {
        $('html,body').animate({
            scrollTop: $('#' + id).offset().top
        }, 500, function() {
            $('#' + id).focus();
        });
        $('.navbar-nav').find('li.nav-item').removeClass('active');
        $(object).closest('li').addClass('active');
        event.preventDefault();
    }
</script>
</body>

</html>
